<div class="container">

  <link rel="stylesheet" href="/static/css/about.css">

  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center main-title">Team Power Rangers</h2>
    </div>
    <div class="box">
      <div class="row">
        <div class="col-md-5 col-md-5 text-center" ng-repeat="member in members" ng-if="member.login!='ayenabil'" style="padding-left: 200px">
          <div class="row">
            <img ng-src="{{github[member.login].avatar_url}}" style="width:250px"/>
          </div>

          <div class="row">
            <h2 class="text-center">{{member.name}}</h2>
          </div>

          <div class="row text-center">
            <p><strong>Commit Count:</strong> {{github[member.login].contributions}}</p>
            <p><strong>Issue Count:</strong> {{github[member.login].issues}}</p>
            <p><strong>Unit Tests Count:</strong> {{member.tests}}</p>
            <p><strong>Responsible for:</strong> {{member.responsibilities}}</p>
          </div>
          <div class="row">
            <p class="text-center">{{member.description}}</p>
          </div>
        </div>  

      </div>
      <div class="horizontal-divider"></div>
      <div class="row">
        <div class="col-md-4 col-md-offset-4" ng-repeat="member in members" ng-if="member.login=='ayenabil'">
          <div class="row">
            <img ng-src="{{github[member.login].avatar_url}}" style="width:250px"/>
          </div>
          <div class="row">
            <h2 class="text-center">{{member.name}}</h2>
          </div>
          <div class="row text-center">
            <a ng-href="{{github[member.login].url}}">
              <!-- <i class="fa fa-github fa-2x" aria-hidden="true"></i> -->
          </div>
          <div class="row text-center">
            <p><strong>Commit Count:</strong> {{github[member.login].contributions}}</p>
            <p><strong>Issue Count:</strong> {{github[member.login].issues}}</p>
            <p><strong>Unit Tests Count:</strong> {{member.tests}}</p>
            <p><strong>Responsible for:</strong> {{member.responsibilities}}</p>
          </div>
          <div class="row">
            <p class="text-center">{{member.description}}</p>
          </div>
        </div> 
      </div>
<!-- var informationCache = [
    { name: 'Apiary',               link: 'http://docs.collegedb.apiary.io/#'},
    { name: 'Github Issue Tracker', link: 'https://github.com/JinwookKim/cs373-idb/issues'},
    { name: 'Github Repository',    link: 'https://github.com/JinwookKim/cs373-idb'},
    { name: 'Github Wiki',          link: 'https://github.com/JinwookKim/cs373-idb/wiki'}
  ]; -->
      <div class="horizontal-divider"></div>
      <div class="row">
        <div class="col-md-5 text-center" style="padding-left: 200px">
          <h2>Statistics</h2>
          <p><strong>Total Commit Count:</strong> {{stats.commits}}</p>
          <p><strong>Total Issue Count:</strong> {{stats.issues}}</p>
          <p><strong>Total Unit Tests:</strong> {{stats.tests}}</p>
        </div>
        <div class="col-md-5 text-center" style="padding-left: 200px">
          <h2>Tools</h2>
            <a ng-href="https://angularjs.org/"><p>AngularJS</p></a>
            <a ng-href="http://getbootstrap.com/"><p>BootstrapJS</p></a>
            <a ng-href="http://flask.pocoo.org/"><p>Flask</p></a>
            <a ng-href="http://www.sqlalchemy.org/"><p>SQLAlchemy</p></a>
            <a ng-href="http://yuml.me/"><p>yUML</p></a>
        </div>
        <div class="col-md-5 text-center" style="padding-left: 200px">
          <h2>Project Links</h2>
            <a ng-href="http://docs.collegedb.apiary.io/#'"><p>Apiary</p></a>
            <a ng-href="https://github.com/JinwookKim/cs373-idb/issues"><p>Github Issue Tracker</p></a>
            <a ng-href="https://github.com/JinwookKim/cs373-idb"><p>Github Repository</p></a>
            <a ng-href="https://github.com/JinwookKim/cs373-idb/wiki"><p>Github Wiki</p></a>
        </div>
        <div class="col-md-5 text-center" style="padding-left: 200px">
          <h2>Data</h2>
            <a ng-href="https://collegescorecard.ed.gov/data/documentation/"><p>College API</p></a>
            <a ng-href="https://api.data.gov/signup/"><p>API Sign up Key</p></a>
            <a ng-href="https://clearbit.com/logo"><p>College Logos</p></a>
            <a ng-href="http://www.50states.com/maps/"><p>State Photos</p></a>
        </div>

      </div>
    </div>
  </div>

</div>
