<div class="container">
	<div class="row">
		<div class="box">
			<div class="col-md-6">
				<h1>{{results["name"]}}</h1>
			</div>

			<div class="col-md-6"> </div>

			<div class="col-md-4">
				<h3></h3>
				<div>Number of Public Schools that offer: {{results.numPub}}</div>
				<div>2014 % Awarded in Public Schools: {{ results.AwardedPub }}</div>
				<div>Number of Private Schools that offer: {{results.numPriv}}</div>
				<div>2014 % Awarded in Private Schools: {{results.AwardedPriv}}</div>
			</div>

			<div class="col-md-2">
				<h3>Universities</h3>
				<div ng-repeat="university in results.universities">
					<a ng-href="/#/universities/{{university['university_id']}}"><span>{{ university['university_name'] }}</span></a>
				</div>
			</div>

		</div>
	</div>
</div>
