<div class="container">
  <div class="row">
    <div class="box">
      <table st-table="displayedCollection" st-safe-src="results" class="table table-striped table-hover table-mc-light-blue">
        <thead>
        <tr>
          <th style="cursor:pointer" st-sort="name">Name</th>
          <th style="cursor:pointer" st-sort="num_private_offer">Number of Private Schools</th>
          <th style="cursor:pointer" st-sort="num_percent_private">2014 % Awarded in Private Schools</th>
          <th style="cursor:pointer" st-sort="num_public_offer">Number of Public Schools</th>
          <th style="cursor:pointer" st-sort="num_percent_public">2014 % Awarded in Public</th>
        </tr>
        <tr>
          <th colspan="5"><input st-search="" class="form-control" placeholder="filter ..." type="text"/></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="result in displayedCollection">
          <td><a ng-href="/#/degrees/{{result.id}}">{{ result.name }}</td>
          <td>{{ result['num_private_offer']}}</td>
          <td>{{ result['num_percent_private'] }}%</td>
          <td>{{ result['num_public_offer']}}</td>
          <td>{{ result['num_percent_public'] }}%</td>
        </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5" class="text-center">
              <div st-pagination="" st-items-by-page="itemsByPage"></div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>