<div class="container">
  <div class="row">
    <div class="box">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
          
            <td width="20%">
              <a href="/#/degrees" ng-click="sortType = 'name'; sortReverse = !sortReverse">
              Name
              <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
            </td>

            <td width="20%">
              <a href="/#/degrees" ng-click="sortType = 'numPub'; sortReverse = !sortReverse">
              Number of Public Schools that offer
              <span ng-show="sortType == 'numPub' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'numPub' && sortReverse" class="fa fa-caret-up"></span>
            </td>

            <td width="20%">
              <a href="/#/degrees" ng-click="sortType = 'AwardedPub'; sortReverse = !sortReverse">
              2014 % Awarded in Public Schools
              <span ng-show="sortType == 'AwardedPub' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'AwardedPub' && sortReverse" class="fa fa-caret-up"></span>
            </td>

            <td width="20%">
              <a href="/#/degrees" ng-click="sortType = 'numPriv'; sortReverse = !sortReverse">
              Number of Private Schools that offer
              <span ng-show="sortType == 'numPriv' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'numPriv' && sortReverse" class="fa fa-caret-up"></span>
            </td>

            <td width="20%">
              <a href="/#/degrees" ng-click="sortType = 'AwardedPriv'; sortReverse = !sortReverse">
              2014 % Awarded in Private Schools
              <span ng-show="sortType == 'AwardedPriv' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'AwardedPriv' && sortReverse" class="fa fa-caret-up"></span>
            </td>

          </tr>
        </thead>
        <tbody>
          <tr ng-repeat = "result in results | orderBy:sortType:sortReverse" >
            <td><a ng-href="/#/degrees/{{result.entry_id}}">{{ result.name }}</td>
            <td>{{ result.numPub }}</td>
            <td>{{ result.AwardedPub }}</td>
            <td>{{ result.numPriv}}</td>
            <td>{{ result.AwardedPriv }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>