<div class="container">
  <div class="box">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center main-title">Statistics on <a href="http://smashdb.me/about"> Smashdb.me </a></h2>
    </div>
  </div>
	<div class="row">
		<div class="box">
			<canvas id="pie" class="chart chart-pie" width="50" height="15"
			  chart-data="data" chart-labels="labels" chart-options="options">
			</canvas> 
		</div>

		<div class="box">
			<canvas id="doughnut" class="chart chart-doughnut" width="50" height="15"
			  chart-data="data2" chart-labels="labels2" chart-options="options2">
			</canvas> 
		</div>

		<div class="box">
			<canvas id="bar" class="chart chart-bar" width="50" height="15"
			  chart-data="data3" chart-labels="labels3" chart-options="options3">
			</canvas> 
		</div>

		<div class="box">
			<canvas id="base" class="chart-horizontal-bar" width="50" height="15"
			  chart-data="data4" chart-labels="labels4" chart-options="options4">
			</canvas> 
		</div>

		<div class="box">
			<canvas id="polar-area" class="chart chart-polar-area" width="50" height="15"
			  chart-data="data5" chart-labels="labels5" chart-options="options5">
			</canvas> 
		</div>
	</div>

</div>
