<div class="container">
  <div class="row">
    <div class="box">
      <table st-table="displayedCollection" st-safe-src="results" class="table table-striped">
        <thead>
        <tr>
          <th st-sort="name">Name</th>
          <th st-sort="region">Region</th>
          <th st-sort="average_private_cost">2014 Average Private Cost</th>
          <th st-sort="average_public_cost">2014 Average Public Cost</th>
          <th st-sort="number_colleges">Number of Colleges</th>
        </tr>
        <tr>
          <th colspan="5"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="result in displayedCollection">
          <td><a ng-href="/#/states/{{result.id}}">{{ result["name"] }}</td>
          <td>{{ result["region"] }}</td>
          <td>{{ result["average_private_cost"] | currency}}</td>
          <td>{{ result["average_public_cost"]| currency}}</td>
          <td>{{ result["number_colleges"] }}</td>
        </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5" class="text-center">
              <div st-pagination="" st-items-by-page="itemsByPage"></div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
