<div class="container">
	<div class="row">
		<div class="box">
      <table st-table="displayedCollection" st-safe-src="results" class="table table-striped">
        <thead>
        <tr>
          <th style="cursor:pointer" st-sort="name">Name</th>
          <th style="cursor:pointer" st-sort="is_public">Ownership</th>
          <th style="cursor:pointer" st-sort="website_URL">School Website</th>
          <th style="cursor:pointer" st-sort="academic_cost">2014 Academic Cost</th>
          <th style="cursor:pointer" st-sort="num_students">2014 Student Size</th>
        </tr>
        <tr>
          <th colspan="5"><input st-search="" class="form-control" placeholder="filter ..." type="text"/></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="result in displayedCollection">
          <td><a ng-href="/#/universities/{{result.id}}">{{ result["name"] }}</td>
          <td>{{ result["is_public"] }}</td>
          <td> <a ng-href="http://{{ result['website_URL'] }}"> {{ result["website_URL"] }}</td>
          <td>{{ result["academic_cost"]| currency}}</td>
          <td>{{ result["num_students"] }}</td>
        </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5" class="text-center">
              <div st-pagination="" st-items-by-page="itemsByPage"  st-displayed-pages="10"></div>
            </td>
          </tr>
        </tfoot>
      </table>
		</div>
	</div>
</div>
