<div class="container">
	<div class="row">
		<div class="box">
      <table st-table="displayedCollection" st-safe-src="results" class="table table-striped">
        <thead>
        <tr>
          <th st-sort="school.name">Name</th>
          <th st-sort="school.ownership">Ownership</th>
          <th st-sort="school.school_url">School Website</th>
          <th st-sort="cost">2014 Academic Cost</th>
          <th st-sort="size">2014 Student Size</th>
        </tr>
        <tr>
          <th colspan="5"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="result in displayedCollection">
          <td><a ng-href="/#/universities/{{result.entry_id}}">{{ result["school.name"] }}</td>
          <td>{{ result["school.ownership"] }}</td>
          <td> <a ng-href="http://{{ result['school.school_url'] }}"> {{ result["school.school_url"] }}</td>
          <td>{{ result.cost | currency}}</td>
          <td>{{ result.size }}</td>
        </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5" class="text-center">
              <div st-pagination="" st-items-by-page="itemsByPage"></div>
            </td>
          </tr>
        </tfoot>
      </table>
		</div>
	</div>
</div>
